<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="text-center" href="../resume.pdf" target="_blank"><button class="btn btn-default"><h3>click here for resume</h3></button></a>
    </div>
  </div>
  <div class="row vertical-align">
    <div class="col-md-6 profile">
      <img class="img-responsive" src="/img/me.jpg" alt="profile" title="Ken Ngo">
    </div>
    <div class="col-md-6">
      <p>my name is kenny ngo. i am studying cs at oregon state university and am expecting to graduate by summer 2019.</p>
      <p>while researching how to prepare for interviews, i realized i need a place to organize what i find. i hope that this website will help me stay organized while i continue looking.</p>
      <p>in my spare time i like to go rock climbing (indoors typically), bike riding, or play board games.</p>
    </div>
  </div>
</div>