<div class="container">
  <div class="row social">
    <ul class="list-group">
      <li class="list-group-item"><h3><a href="https://www.linkedin.com/in/ken-ngo"><i class="fa fa-linkedin fa-lg"></i>&nbsp;&nbsp;linkedin</a></h3></li>
      <li class="list-group-item"><h3><a href="https://www.facebook.com/knnyngo"><i class="fa fa-facebook fa-lg"></i>&nbsp;&nbsp;Facebook</a></h3></li>
      <li class="list-group-item"><h3><a href="https://twitter.com/ngo_kenny"><i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;Twitter</a></h3></li>
      <li class="list-group-item"><h3><a href="mailto:kennyngo@yahoo.com"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;Email</a></h3></li>
    </ul>
  </div>
</div>
  