<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="questions fixed" id="q1">
        <p>Save a line of input from stdin to a variable, print Hello, World. on a single line, and finally print the value of your variable on a second line.</p>
        <div class="answers scroll" id="a1">
          <script src="https://gist.github.com/k-en/c73c7becc1b210f10c6fb4b3496d9e33.js"></script>
        </div>
        <button id="h1">Hide</button>
        <button id="s1">Show</button>
      </div>
      <div class="questions fixed" id="q2">
        <p>Given the meal price (base cost of a meal), tip percent (the percentage of the meal price being added as tip), and tax percent (the percentage of the meal price being added as tax) for a meal, find and print the meal's total cost.</p>
        <div class="answers scroll" id="a2">
          <script src="https://gist.github.com/k-en/10de1a8dae5ea818aa5962f8d809828e.js"></script>
        </div>
        <button id="h2">Hide</button>
        <button id="s2">Show</button>
      </div>
      <div class="questions fixed" id="q3">
        <p>Given an integer, n, perform the following conditional actions:</p>
        <ul>
          <li>If n is odd, print Weird</li>
          <li>If n is even and in the inclusive range of 2 to 5, print Not Weird</li>
          <li>If n is even and in the inclusive range of 6 to 20, print Weird</li>
          <li>If n is even and greater than 20, print Not Weird</li>
        </ul>
        <div class="answers scroll" id="a3">
          <script src="https://gist.github.com/k-en/75a026e817ec4e1a9e94ac1badbda2dd.js"></script>
        </div>
        <button id="h3">Hide</button>
        <button id="s3">Show</button>
      </div>        
      <div class="questions fixed" id="q4">
        <p>Write a factorial function that takes a positive integer, N, as a parameter and prints the result of N!(N factorial).</p>
        <div  class="answers scroll" id="a4">
          <script src="https://gist.github.com/k-en/d6b27704f45049679950d32d80acaa00.js"></script>
        </div>
        <button id="h4">Hide</button>
        <button id="s4">Show</button>
      </div>        
      <div class="questions fixed" id="q5">
        <p>Given a base-10 integer, n, convert it to binary (base-2). Then find and print the base-10 integer denoting the maximum number of consecutive 1's in n's binary representation.</p>
        <div class="answers scroll" id="a5">
          <script src="https://gist.github.com/k-en/3c5655f3b827cbc884c4a7e66f1ab687.js"></script>
        </div>
        <button id="h5">Hide</button>
        <button id="s5">Show</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".answers").hide();
</script>